 .u-section-1 {
  background-image: url("images/pexels-photo-1029615.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 300;
  width: 650px;
  margin: 62px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 70px;
    margin-left: 42px;
    margin-right: 42px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 313px;
  background-image: none;
  left: -80px;
  right: auto;
}

.u-section-2 .u-group-1 {
  width: 349px;
  min-height: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 0 auto 0 -10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 510px;
  background-image: url("images/pexels-photo-2987769.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-style: none;
  align-self: center;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-style: none;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-style: none;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-shape-1 {
    width: 283px;
    left: -50px;
  }

  .u-section-2 .u-group-1 {
    width: 276px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 421px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-btn-2 {
    height: 28px;
  }

  .u-section-2 .u-btn-4 {
    height: 28px;
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    width: 243px;
  }

  .u-section-2 .u-group-1 {
    min-height: 207px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 50px 50px 50px 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 335px;
  }

  .u-section-2 .u-group-1 {
    width: 356px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 725px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-2 .u-shape-1 {
    width: 260px;
    left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 216px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 456px;
  }
} .u-section-3 {
  min-height: 780px;
  background-image: none;
}

.u-section-3 .u-shape-1 {
  height: 322px;
  margin-top: 458px;
  margin-bottom: 0;
  background-image: none;
  margin-right: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1068px;
  margin: -709px calc(((100% - 1140px) / 2) + 36px) 60px auto;
}

.u-section-3 .u-image-1 {
  min-height: 639px;
  background-image: url("images/pexels-photo-3467149.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 300px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 18px 1px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 300px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 18px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 703px;
  }

  .u-section-3 .u-shape-1 {
    height: 292px;
    margin-right: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -679px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 264px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1334px;
  }

  .u-section-3 .u-shape-1 {
    height: 1200px;
    margin-top: 486px;
    margin-right: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1615px;
  }

  .u-section-3 .u-image-1 {
    min-height: 993px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 261px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1186px;
  }

  .u-section-3 .u-shape-1 {
    height: 510px;
    margin-top: 1185px;
    margin-right: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1624px;
  }

  .u-section-3 .u-image-1 {
    min-height: 745px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 910px;
  }

  .u-section-3 .u-shape-1 {
    height: 528px;
    margin-top: 991px;
    margin-right: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1448px;
  }

  .u-section-3 .u-image-1 {
    min-height: 469px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: url("images/pexels-photo-325185.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  width: 668px;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  width: 615px;
  font-weight: 700;
  margin: 20px 263px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 163px;
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 607px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 607px;
  background-image: url("images/394227a2-4491-4f80-a7cf-354a4a86a284.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 607px;
  background-image: url("images/pexelsphoto3694710.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0;
  text-transform: none;
  margin: 0;
}

.u-section-5 .u-image-3 {
  min-height: 607px;
  background-image: url("images/pexelsphoto3694884.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 324px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 501px;
  }

  .u-section-5 .u-image-2 {
    min-height: 501px;
  }

  .u-section-5 .u-image-3 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 207px;
  }

  .u-section-5 .u-image-1 {
    min-height: 384px;
  }

  .u-section-5 .u-image-2 {
    min-height: 384px;
  }

  .u-section-5 .u-image-3 {
    min-height: 384px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1551px;
  }

  .u-section-5 .u-image-1 {
    min-height: 864px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 864px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 864px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 911px;
  }

  .u-section-5 .u-image-1 {
    min-height: 544px;
  }

  .u-section-5 .u-image-2 {
    min-height: 544px;
  }

  .u-section-5 .u-image-3 {
    min-height: 544px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 621px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 873px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 268px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 4px;
  text-transform: none;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  letter-spacing: 4px;
  text-transform: none;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin: 33px 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  min-height: 690px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 345px;
  background-image: url("images/pexelsphoto911738.jpeg");
  background-position: 100% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 345px;
  background-image: url("images/pexelsphoto52576.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 345px;
  background-image: url("images/pexelsphoto2987769.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 345px;
  background-image: url("images/pexelsphoto3305484.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  min-height: 345px;
  background-image: url("images/pexelsphoto3366940.jpeg");
  background-position: 36.93% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  min-height: 345px;
  background-image: url("images/pexelsphoto3367067.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 308px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 284px;
  }

  .u-section-7 .u-image-2 {
    min-height: 284px;
  }

  .u-section-7 .u-image-3 {
    min-height: 284px;
  }

  .u-section-7 .u-image-4 {
    min-height: 284px;
  }

  .u-section-7 .u-image-5 {
    min-height: 284px;
  }

  .u-section-7 .u-image-6 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 176px;
  }

  .u-section-7 .u-image-1 {
    min-height: 218px;
  }

  .u-section-7 .u-image-2 {
    min-height: 218px;
  }

  .u-section-7 .u-image-3 {
    min-height: 218px;
  }

  .u-section-7 .u-image-4 {
    min-height: 218px;
  }

  .u-section-7 .u-image-5 {
    min-height: 218px;
  }

  .u-section-7 .u-image-6 {
    min-height: 218px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1704px;
  }

  .u-section-7 .u-image-1 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 976px;
  }

  .u-section-7 .u-image-1 {
    min-height: 309px;
  }

  .u-section-7 .u-image-2 {
    min-height: 309px;
  }

  .u-section-7 .u-image-3 {
    min-height: 309px;
  }

  .u-section-7 .u-image-4 {
    min-height: 309px;
  }

  .u-section-7 .u-image-5 {
    min-height: 309px;
  }

  .u-section-7 .u-image-6 {
    min-height: 309px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 480px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-8 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 36px auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-8 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-8 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 27px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 10px auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 510px;
  background-image: url("images/pexels-photo-2987769.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-shape-1 {
  width: 313px;
  background-image: none;
  left: auto;
  right: -80px;
}

.u-section-8 .u-group-1 {
  width: 349px;
  min-height: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 0 -10px 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 421px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-8 .u-shape-1 {
    width: 283px;
    left: 93px;
    right: auto;
  }

  .u-section-8 .u-group-1 {
    width: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 322px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 489px;
  }

  .u-section-8 .u-shape-1 {
    width: 227px;
    left: 68px;
  }

  .u-section-8 .u-group-1 {
    min-height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-8 .u-image-1 {
    min-height: 725px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-8 .u-container-layout-3 {
    padding: 50px 50px 50px 10px;
  }

  .u-section-8 .u-shape-1 {
    width: 320px;
    left: 270px;
  }

  .u-section-8 .u-group-1 {
    width: 348px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-8 .u-image-1 {
    min-height: 456px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 414px;
  }

  .u-section-8 .u-shape-1 {
    width: 220px;
    left: 170px;
  }

  .u-section-8 .u-group-1 {
    width: 280px;
    margin-right: -50px;
  }
}